body {
    background-color: #ffc2c2;
    font-family: Chalkduster, fantasy
    text-shadow: 0 0 3px #FF0000;

}
.container{

    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
    color: brown;
    text-decoration-line: overline underline;
    text-decoration-color: purple;

}

img{
    
    width: 50%;

}

figure {

    text-align: center;
}

.imgtopo{
width: 60%;
}

.imgcorpo{
    width: 50%;
}

p{
    font-size: 2em;
    color: rgb(235, 30, 30);
    font-weight: bold;
    text-indent: 50px;
    text-align: justify;
    border: 1px solid black;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-right: 170px;
    margin-left: 100px;
    background-color: rgb(236, 201, 220);
  }
footer{
    background-color: hotpink;
}
#sobre{
    behavior: smooth;
}
#mais{
    behavior: smooth;
}
