body {
    background-color: #ffc2c2;

}
.container{

    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
    color: brown;
}

img{
    
    width: 50%;

}

figure {

    text-align: center;
}

.imgtopo{
width: 100%;
}

.imgcorpo{
    width: 50%;
}

p{
    font-size: 2em;
    color: rgb(235, 30, 30);
    font-weight: bold;
    text-indent: 50px;
    text-align: justify;
}
